filetype plugin indent on
syntax on
set nocompatible
set nu
set hlsearch
set wrap linebreak nolist
" show existing tab with 4 spaces width
set tabstop=4
" when indenting with '>', use 4 spaces width
set shiftwidth=4
" On pressing tab, insert 4 spaces
set expandtab
" Russian language support
set langmap=ФИСВУАПРШОЛДЬТЩЗЙКЫЕГМЦЧНЯ;ABCDEFGHIJKLMNOPQRSTUVWXYZ,фисвуапршолдьтщзйкыегмцчня;abcdefghijklmnopqrstuvwxyz
" Enable folding
set foldmethod=indent
set foldlevel=99

set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()

Plugin 'gmarik/Vundle.vim'

Plugin 'flazz/vim-colorschemes'
Plugin 'xolox/vim-misc'
Plugin 'xolox/vim-colorscheme-switcher'

Plugin 'shime/vim-livedown'

call vundle#end()

Bundle 'Valloric/YouCompleteMe'

colorscheme 256-jungle

"split navigations
nnoremap <C-J> <C-W><C-J>
nnoremap <C-K> <C-W><C-K>
nnoremap <C-L> <C-W><C-L>
nnoremap <C-H> <C-W><C-H>

noremap <leader>\ :update<CR>

" Enable folding with the spacebar
nnoremap <space> za

nnoremap <C-M> :LivedownToggle<CR>


